@model SystemInventory.Models.Question

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Question</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <Textarea rows="4" asp-for="Title" class="form-control"></Textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <Textarea rows="7" asp-for="Response" class="form-control"></Textarea>
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-danger" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
    <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Category" class="col-md-2 control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<SystemInventory.Models.Enums.QuestionCategories>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Category" class="text-danger" />
            </div>
            @*<div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control"></select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>

    </div>
</div>